<!DOCTYPE html>
<html>
<head>
    <title>Index of {{ path }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
    <h1>Index of {{ path }}</h1>
    <table class="file-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td><a href="{{ entry.url }}">{{ entry.name }}</a></td>
                <td>{{ entry.modified }}</td>
                <td>{{ entry.size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">
            联系我们：contact@dragonos.org
            <br />
            <a href="https://github.com/DragonOS-Community/mirror-proxy", target="_blank">
                完善此页面
            </a>
        </p>
        <p class="copyright" style="margin-top: 0">
            ©2022-2025 DragonOS Community
            <br />
            All rights reserved.
        </p>
    </footer>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- <script src="/assets/js/main.js"></script> -->
</body>
</html>
