<!DOCTYPE html>
<html>
  <head>
    <title>DragonOS官方镜像站</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1>DragonOS 镜像站</h1>
        <p>DragonOS is a Light-weight kernel for serverless computing.</p>
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#first" class="active">资源中心</a></li>
          <li><a href="#second">了解更多</a></li>
          <li><a href="#cta">赞助我们</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <!-- First Section -->
        <section id="first" class="main special">
          <header class="major">
            <h2>DragonOS 资源中心</h2>
            <p class="subtitle">获取DragonOS最新版本和资源</p>
          </header>
          <div class="content">
            <div class="download-info">
              <div class="download-item">
                <h3>官网</h3>
                <p>
                  点击访问
                  <a href="https://dragonos.org"
                    >dragonos.org</a
                  >了解更多信息。
                </p>
              </div>
              <div class="download-item">
                <h3>文件下载</h3>
                <p>
                  访问
                  <a href="/pub/">mirrors.dragonos.org/pub/</a>
                  获取DragonOS各版本的代码和镜像文件
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Second Section -->
        <section id="second" class="main special">
          <header class="major">
            <h2>了解更多</h2>
          </header>
          <ul class="features">
            <li>
              <a
                style="border-bottom: none"
                href="https://github.com/DragonOS-Community/DragonOS"
              >
                <span class="icon style3">
                  <img
                    src="/assets/svg/github.svg"
                    alt="github
				  "
                  />
                </span>
              </a>
              <h3>GitHub仓库</h3>
              <a href="https://github.com/DragonOS-Community/DragonOS"
                >github.com/DragonOS-Community/DragonOS</a
              >
            </li>
            <li>
              <a
                style="border-bottom: none"
                href="https://git.mirrors.dragonos.org"
              >
                <span class="icon style2">
                  <img src="/assets/svg/git.svg" alt="git mirror" />
                </span>
              </a>
              <h3>Git镜像站</h3>
              <a href="https://git.mirrors.dragonos.org"
                >git.mirrors.dragonos.org</a
              >
            </li>

            <li>
              <a
                style="border-bottom: none"
                href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=5KfmkHtFRxR0Cs0UY2Nuq-C2KBJHUR1k&authKey=b%2BXKM94Z%2FIKrZScWaLQOIlvi4wXtGjrVBRhCamN8%2FWY8Rt9WVt2%2FkQvyWHOP9fL7&noverify=0&group_code=115763565"
              >
                <span class="icon style1">
                  <img src="/assets/svg/qq.svg" alt="QQ群二维码" />
                </span>
              </a>
              <h3>开发交流QQ群</h3>
              <a
                href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=5KfmkHtFRxR0Cs0UY2Nuq-C2KBJHUR1k&authKey=b%2BXKM94Z%2FIKrZScWaLQOIlvi4wXtGjrVBRhCamN8%2FWY8Rt9WVt2%2FkQvyWHOP9fL7&noverify=0&group_code=115763565"
                >115763565</a
              >
            </li>
          </ul>
          <footer class="major">
            <ul class="actions special" style="list-style: none">
              <li style="list-style: none">
                <a
                  href="https://github.com/DragonOS-Community/DragonOS"
                  class="button cta-button"
                  target="_blank"
                  rel="noopener noreferrer"
                >立即加入我们</a
                >
              </li>
            </ul>
          </footer>
        </section>

        <!-- Get Started -->
        <section id="cta" class="main special">
          <header class="major">
            <h2>赞助DragonOS</h2>
            <p>
              DragonOS的发展离不开资金的支持，我们保证，所有赞助的资金及物品，将会用于：
            </p>
            <ul style="width: 40%; margin: auto; list-style: none">
              <li>为活跃的社区开发者发放补贴或设备支持</li>
              <li>DragonOS的云服务开支</li>
              <li>设备购置</li>
              <li>任何有助于DragonOS发展的用途</li>
            </ul>
          </header>
          <footer class="major">
            <ul class="actions special">
              <li>
                <a href="https://dragonos.org/?page_id=37" class="button"
                  >前往赞助</a
                >
              </li>
            </ul>
          </footer>
          <header class="major">
            <h2>赞助商</h2>
            <ul class="features">
              <li>
                <a style="border-bottom: none" href="https://yacloud.net">
                  <span class="icon style3">
                    <img
                      decoding="async"
                      width="300px"
                      height="auto"
                      src="https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png"
                      alt=""
                      class="wp-image-15"
                      srcset="
                        https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png 1024w,
                        https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png  300w,
                        https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png  768w,
                        https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png 1536w,
                        https://dragonos.org/wp-content/uploads/2023/11/雅云logo-缩略图-300x69.png 2048w
                      "
                    />
                  </span>
                </a>
                <br />
              </li>
            </ul>
          </header>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">
          联系我们：contact@dragonos.org
          <br />
          <a href="https://github.com/DragonOS-Community/mirror-proxy", target="_blank">
            完善此页面
          </a>
        </p>
        <p class="copyright" style="margin-top: 0">
          ©2022-2025 DragonOS Community
          <br />
          All rights reserved.
        </p>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
